#main_content {
	text-align: center;
}
.rings {
	margin: 0 auto;
	width: auto;
	line-height: 15px;
	padding-top: 15px;
}
.rings td {
	position: relative;
	display: inline-block;
	padding: 0;
}
.rings td.sep {
	width: 5px;
}
.rings .sep-left {
	border-left: white dotted;
	padding-left: 3px;
}
.rings .sep-right {
	border-right: white dotted;
	padding-right: 3px;
}
.ring {
	margin-left: 2px;
	margin-right: 2px;
}
.ring img,
.ring-set img {
	height: 40px;
}
.ring a,
.ring-set span,
.ring .lock,
.ring input {
	visibility: hidden;
	position: absolute;
}
.ring .lock {
	left: 3%;
	top: 3%;
}
.ring input:checked + .lock {
	visibility: visible;
}
.ring a,
.ring-set span {
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	z-index: 1;
	bottom: 100%;
	left: -50%;
	margin-left: -50%;
	width: 300%
}
.ring a {
	text-decoration: none;
}
.ring:hover a,
.ring-set:hover span {
	visibility: visible;
}
.ring a::after,
.ring-set span::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: black transparent transparent transparent;
}
.ring label {
	display: inline-block;
}
.ring label img {
	border: gray solid;
	border-radius: 3px;
}
